
.search-input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 12px;
  }

.search-section form{
    border-bottom: 1px solid black;
}
