.article-container{
    padding: 10px;
    display: flex;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.article-info-wrapper {
    flex-basis: 80%;
    margin-left: 9px;
}

.article-info-wrapper h1{
    font-size: 29px;
    border-bottom: 2px solid black;
    color:gold;
}

.mini-info-wrapper{
    display: flex;
    justify-content: space-between;
}

.mini-info-wrapper p{
    padding: 16px;
    -webkit-box-shadow: 0px 6px 15px -2px #FFFFFF; 
    box-shadow: 0px 6px 15px -2px #FFFFFF;
    border-radius: 4px;
}

.description{
    padding: 9px;
    -webkit-box-shadow: 0px 6px 15px -2px #FFFFFF; 
    box-shadow: 0px 6px 15px -2px #FFFFFF;
    border-radius: 4px;
}

.tagline span{
    
    font-style: italic;
    color: #2afcdd;
}

.movie-buttons-wrapper button{
    display: inline-block;
    border-radius: 4px;
    background-color: gold;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 2px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.movie-buttons-wrapper button:hover{
    padding-right: 25px;
}

.movie-buttons-wrapper button:hover ::after{
    opacity: 1;
    right: 0;
}

.article-link-buttons{
    display: flex;
    justify-content: center;
}

.article-link-buttons button{
    color: black;
}

.short-picture{
    max-width: 60%;
    margin: 0 9px;
}

.short-article-container{
    text-align: center;
    border-bottom: 1px solid black;
}

.short-article-info-wwrapper{
    display: flex;
    justify-content: center;
}

.short-article-container h1{
    font-size: 19px;
    margin: 3px 0;
}

.short-article-container button{
    display: inline-block;
    border-radius: 4px;
    background-color: darkred;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 2px;
    width: 70%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 12px;
}
