.username{
    text-align: center;
    text-decoration: underline;
    color: gold;
}

.profile-collections-container{
    display: flex;
    align-content: center;
    justify-content: center;
}

.profile-collections-container article{
    margin: 30px;
    height: 150px;
}

.profile-collections-container article a{
    color: white;
    padding: 30px;
    height: 100%;
    text-decoration: none;
}

.profile-collections-container article a:hover{
    border: 1px solid white;
    color: #2AFCDD;
}

.user-collections-container{
    display: flex;
    justify-content: space-around;
}

.user-movie-collections{
    
}

.profile-collections-container article button{
    display: inline-block;
    border-radius: 4px;
    background-color: #2afcdd;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 2px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.profile-collections-container article button:hover{
    color: gold;
}