.post-wrapper{
 display:flex;
 flex-direction: column;
 justify-content: center;
}

.post
,.internal-post{
    color: black;
    margin: 12px;
    background-color: #a7b1b7;
    -webkit-box-shadow: 0px 0px 12px 0px #A7B1B7; 
    box-shadow: 0px 0px 12px 0px #A7B1B7;
    border-radius: 8px;
}

.main-post-info{
    margin: 12px;
    background-color: #a7b1b7;
    -webkit-box-shadow: 0px 0px 12px 0px #A7B1B7; 
    box-shadow: 0px 0px 12px 0px #A7B1B7;
    border-radius: 8px;
}

.main-post-info h3 span{
    color: gold;
    right: 0;
}

.post h2
,.main-post-info h2{
    color: #2AFCDD;
    text-decoration: underline;
}

.info-post-container{
    display: flex;
    flex-direction: column;
    left: 0;
    border-right: 1px solid black;
    margin-right: 20px;
}


.post-wrapper-main{
    display: flex;
    align-items: center;
    overflow-wrap: anywhere
}

.info-post-container 
h4,
p {
    margin: 9px;
}

.info-post-container h4 span{
    color: gold;
}

.post a{
    text-decoration: none;
    color: white;
    border: none;
    background: none;
    padding: 26px;
    font-size: 16px;
}

.post a:hover{
    /* border: 1px solid black;
    color: #2AFCDD; */
    cursor:pointer;
}

.post-info{
    display: flex;
    flex-direction: column;
}

.post-info h4 span{
    color: gold;
}

.post-text-container{
    background-color: #fff7f7d1;
    padding:13px;
    border-radius: 3px;
    box-shadow: 9px 9px 9px #999;
}


.forum-feed-buttons a{
    border: none;
    color: white;
    padding: 9px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 9px 13px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    background-color: #333c47;
}

.forum-feed-buttons a:hover{
    background-color: #2AFCDD;
    color: black;
}

.comment-info{
    border-left: 1px solid black;
}

.comment{
    display: flex;
    background-color: #a7b1b7;
    margin: 16px;
    border-start-start-radius: 20% ;
    align-items: center;
    box-sizing: border-box;
    padding: 18px;
    overflow-wrap: anywhere;
}

.comment h3{
    color: gold;
    margin: 0
}

.comment div{
    max-width: 1000px;
}

.comment p{
    color: black;
    flex-basis: 80%;
    justify-content: left;
}

.commenting-text{
    height:60px;
    width: 80%;
    resize: vertical;
    margin: 2px auto;
    display: block;
}

form button{
    display: inline-block;
    padding: 15px 25px;
    margin: 11px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #2AFCDD;
    border: none;
    border-radius: 11px;
    box-shadow: 0 9px #999;
}

.center-post{
    text-align: center;
    width: 100%;
}